
#map_canvas1{
    height: 75%;
  }

//DivEncabezado
.divEncabezado{
}

rating {
    ion-icon {
      color: gray;
  
      &.filled {
        color: #ffb400;
      }
    }
  }

//Estilo del Titulo
.styleTitulo{
    float: center;
}


//EstiloButton
.styleButton{
    float:right;
}


//Imagenes del evento
img {
  width: 100%;
  height: 300px;
  border-radius: 5%;
  position: center;
}


//Estilo Categoria
.styleCategoria{
    margin-top: 20px;
    margin-bottom: 5%;
}


//Stilo Ubicacion
.styleUbication{
    text-align: left;
    margin-bottom: 5%;
}


//DivPromotor 
.stylePromotor{
    text-align: left;
    font-size: 100%;
    margin-bottom: 0%;
}