<ion-tabs>
 <ion-tab-bar slot="bottom" >

   <ion-tab-button tab="home">
     <ion-icon name="home" color="ion-card-dark-theme"></ion-icon>
   </ion-tab-button>

   <ion-tab-button tab="search">
     <ion-icon name="search" color="ion-card-dark-theme"></ion-icon>
   </ion-tab-button>

   <ion-tab-button tab="add-event">
    <ion-icon name="add-circle-outline" color="ion-card-dark-theme"></ion-icon>
   </ion-tab-button>

   <ion-tab-button tab="ranking">
       <ion-icon name="star" color="ion-card-dark-theme"></ion-icon>
   </ion-tab-button>

   <ion-tab-button tab="profile">
       <ion-icon name="contact" color="ion-card-dark-theme"></ion-icon>
   </ion-tab-button>


 </ion-tab-bar>
</ion-tabs>
