<ion-header>
  <ion-toolbar color="ion-status-bar-dark-theme">
  
    <ion-title color="light" text-center>
      Details
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content padding>
  
  <ion-list lines="full">
    <ion-item>
      <ion-input required type="text" placeholder="nombre del evento" [(ngModel)]="todo.event_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input required type="text" placeholder="organizador" [(ngModel)]="todo.manager_name"></ion-input>
    </ion-item>
   
    <ion-item>
        <ion-icon name="locate" item-start ></ion-icon>
        <ion-input required type="text" placeholder="ubicación" [(ngModel)]="todo.ubication"></ion-input>
    </ion-item>

    <ion-item >
      <ion-icon name="clipboard" item-start ></ion-icon>

      <ion-label>Categoría</ion-label>
      <ion-select value="brown" okText="Okay" cancelText="Dismiss" [(ngModel)]="todo.category">
        <ion-select-option value="PARTY">PARTY</ion-select-option>
        <ion-select-option value="FESTIVITIES">FESTIVITIES</ion-select-option>
        <ion-select-option value="SPORTS">SPORTS</ion-select-option>
        <ion-select-option value="GASTRONOMY">GASTRONOMY</ion-select-option>
        <ion-select-option value="CULTURE">CULTURE</ion-select-option>
        <ion-select-option value="CONCERTS">CONCERTS</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item >
      <ion-icon name="calendar" item-start ></ion-icon>
      <ion-label>Fecha de inicio</ion-label>
      <ion-datetime  [(ngModel)]="todo.date"></ion-datetime>
    </ion-item>

    <ion-item >
      <ion-icon name="calendar" item-start ></ion-icon>
      <ion-label>Fecha de finalización</ion-label>
      <ion-datetime [(ngModel)]="todo.final_date"></ion-datetime>
    </ion-item>

    <ion-item >
      <ion-icon name="time" item-start ></ion-icon>

      <ion-label>Hora de inicio</ion-label>
      <ion-datetime  display-format="HH:m a" [(ngModel)]="todo.hour"></ion-datetime>
    </ion-item>

    <ion-item >
      <ion-icon name="time" item-start ></ion-icon>

      <ion-label>Hora de finalización</ion-label>
      <ion-datetime  display-format="HH:m a" [(ngModel)]="todo.final_hour"></ion-datetime>
    </ion-item>

    <ion-item>
        <ion-icon name="book" item-start ></ion-icon>
        <ion-input required type="text" placeholder="Descripción..." [(ngModel)]="todo.description"></ion-input>
    </ion-item>



    <ion-item >
      <ion-icon name="cash" item-start ></ion-icon>
      <ion-input  type="number" placeholder="Costo: $" value="" [(ngModel)]="todo.value"></ion-input>
    </ion-item>


    <ion-item color="dark">
      <ion-input background  class="custom-file-input"  type="file" accept=".png, .jpg" (change)="onUpload($event)"></ion-input>
    </ion-item>
    <input id="imageUser" type="hidden" [value]="urlImage | async">
  </ion-list>
  <ion-button expand="full" (click)="saveTodo()">Save</ion-button>
</ion-content>
