<ion-header>
  <ion-toolbar color="ion-app-bar-dark-theme">
    <ion-title text-center class="title" color="light">
      Añadir evento
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" >

  <form>
    <ion-item color="dark">

      <ion-icon name="contact" item-start color="light"></ion-icon>

      <ion-input type="text" name = "name" placeholder="nombre" color="light"  [(ngModel)]="event_name"></ion-input>
    </ion-item>

    <ion-item color="dark">
      <ion-icon name="person" item-start color="light"></ion-icon>
      <ion-input type="text" placeholder="organizador" [(ngModel)]="manager_name"></ion-input>
    </ion-item>



    <ion-item color="dark">
      <ion-icon name="locate" item-start color="light"></ion-icon>

      <ion-input clearInput type="text"  placeholder="ubicación" [(ngModel)]="ubication"></ion-input>
    </ion-item>

    <ion-item color="dark">
      <ion-icon name="clipboard" item-start color="light"></ion-icon>

      <ion-label>Categoría</ion-label>
      <ion-select value="brown" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="PARTY">PARTY</ion-select-option>
        <ion-select-option value="FESTIVITIES">FESTIVITIES</ion-select-option>
        <ion-select-option value="SPORTS">SPORTS</ion-select-option>
        <ion-select-option value="GASTRONOMY">GASTRONOMY</ion-select-option>
        <ion-select-option value="CULTURE">CULTURE</ion-select-option>
        <ion-select-option value="CONCERTS">CONCERTS</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item color="dark">
      <ion-icon name="calendar" item-start color="light"></ion-icon>
      <ion-label>Fecha de inicio</ion-label>
      <ion-datetime display-format="MMMM DD"></ion-datetime>
    </ion-item>

    <ion-item color="dark">
      <ion-icon name="calendar" item-start color="light"></ion-icon>
      <ion-label>Fecha de finalización</ion-label>
      <ion-datetime display-format="MMMM DD"></ion-datetime>
    </ion-item>

    <ion-item color="dark">
      <ion-icon name="time" item-start color="light"></ion-icon>

      <ion-label>Hora de inicio</ion-label>
      <ion-datetime display-format="HH:m a"></ion-datetime>
    </ion-item>

    <ion-item color="dark">
      <ion-icon name="time" item-start color="light"></ion-icon>

      <ion-label>Hora de finalización</ion-label>
      <ion-datetime display-format="HH:m a"></ion-datetime>
    </ion-item>

    <ion-item color="dark">
      <ion-icon name="book" item-start color="light"></ion-icon>

      <ion-textarea placeholder="Descripción..."></ion-textarea>
    </ion-item>


    <ion-item color="dark">
      <ion-icon name="cash" item-start color="light"></ion-icon>
      <ion-input type="number" placeholder="Costo: $" value=""></ion-input>
    </ion-item>


    <ion-item color="dark">
      <ion-input background  class="custom-file-input"  type="file" accept=".png, .jpg" (change)="onUpload($event)"></ion-input>
    </ion-item>
    <input id="imageUser" type="hidden" [value]="urlImage | async">


    <ion-button class="button" shape="round" expand="full" color="danger">
      <ion-icon name="send" color="light"></ion-icon>
      Añadir</ion-button>

  </form>

</ion-content>
