
//DivEncabezado
.divEncabezado{
    margin-bottom: 10%;
}


//Estilo del Titulo
.styleTitulo{
    text-align: left;
    font-size: 120%;
    font-weight: bold;
    margin-top: 10%;
    
}

.stylePromotor{
    text-align: left;
    font-size: 100%;
    margin-bottom: 0%;
    margin-top: 0%;
}

//EstiloButton
.styleButton{
    float: right;
}


//Imagenes del evento
.styleimg{
    border-radius: 5%;
    position: center;
    width: 100%;
    height: 50%;
}

//Estilo Categoria
.styleCategoria{
    margin-bottom: 5%;
}


//Stilo Ubicacion
.styleUbication{
    text-align: left;
    margin-bottom: 5%;
}