<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Comida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formRegister" (ngSubmit)="submit();">
    <ion-list lines="full">
       
      <ion-item>
          <ion-icon name="contact"></ion-icon>
        <ion-input formControlName="event_name" required type="text" placeholder="nombre del evento" [(ngModel)]="todo.event_name"></ion-input>
      </ion-item>
      <ion-item>
          <ion-icon name="person"></ion-icon>
        <ion-input formControlName="manager_name" required type="text" placeholder="organizador" [(ngModel)]="todo.manager_name"></ion-input>
      </ion-item>
     <!--
      <ion-item>
          <ion-icon name="locate" item-start ></ion-icon>
          <ion-input formControlName="ubication" required type="text" placeholder="ubicación" [(ngModel)]="todo.ubication"></ion-input>
      </ion-item>
  -->
      <ion-item >
        <ion-icon name="clipboard" item-start ></ion-icon>
  
        <ion-label>Categoría</ion-label>
        <ion-select formControlName="category" value="brown" okText="Okay" cancelText="Dismiss" [(ngModel)]="todo.category">
          <ion-select-option value="PARTY">PARTY</ion-select-option>
          <ion-select-option value="FESTIVITIES">FESTIVITIES</ion-select-option>
          <ion-select-option value="SPORTS">SPORTS</ion-select-option>
          <ion-select-option value="GASTRONOMY">GASTRONOMY</ion-select-option>
          <ion-select-option value="CULTURE">CULTURE</ion-select-option>
          <ion-select-option value="CONCERTS">CONCERTS</ion-select-option>
          <ion-select-option value="CONCERTS">TECNOLOGY</ion-select-option>
          <ion-select-option value="CONCERTS">PROMOTION</ion-select-option>
        </ion-select>
      </ion-item>
  
      <ion-item >
        <ion-icon name="calendar" item-start ></ion-icon>
        <ion-label>Fecha de inicio</ion-label>
        <ion-datetime formControlName="date" [(ngModel)]="todo.date"></ion-datetime>
      </ion-item>
  
      <ion-item >
        <ion-icon name="calendar" item-start ></ion-icon>
        <ion-label>Fecha de finalización</ion-label>
        <ion-datetime formControlName="final_date" [(ngModel)]="todo.final_date"></ion-datetime>
      </ion-item>
  
      <ion-item >
        <ion-icon name="time" item-start ></ion-icon>
  
        <ion-label>Hora de inicio</ion-label>
        <ion-datetime formControlName="hour" display-format="HH:mm a" [(ngModel)]="todo.hour"></ion-datetime>
      </ion-item>
  
      <ion-item >
        <ion-icon name="time" item-start ></ion-icon>
  
        <ion-label>Hora de finalización</ion-label>
        <ion-datetime formControlName="final_hour" display-format="HH:mm a" [(ngModel)]="todo.final_hour"></ion-datetime>
      </ion-item>
  
      <ion-item>
          <ion-icon name="book" item-start ></ion-icon>
          <ion-input formControlName="description" required type="text" placeholder="Descripción..." [(ngModel)]="todo.description"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-icon name="book" item-start ></ion-icon>
        <ion-input formControlName="ubication" required type="text" placeholder="ubicación" [(ngModel)]="todo.ubication"></ion-input>
    </ion-item>
  
  
      <ion-item >
        <ion-icon name="cash" item-start ></ion-icon>
        <ion-input formControlName="value" type="number" placeholder="Costo: $" value="" [(ngModel)]="todo.value"></ion-input>
      </ion-item>

<!--PRUEBA-->
<!--
  <ion-item>
      
        <table class="smallPanel">
          <tr>
            <td ><ion-input  type="text" id="search_address" #search_address style="ime-mode: disable"></ion-input></td>
            <td><ion-button (click)="onButton1_click($event)">Search</ion-button></td>
          </tr>
        </table>
      
    </ion-item>
 -->     
    <div id="map_canvas1"></div>

    <div class="upload-btn-wrapper">
      <ion-button type="hidden" color="light" class="btn">Escoger imagen</ion-button> 
      <ion-input accept="image/*" formControlName="urlImage" id="file-input" 
      id="imageUser" [value]="urlImage | async" background  class="custom-file-input"  
      type="file" (change)="getImage($event)" [(ngModel)]="todo.urlImage"></ion-input>
    </div>

    <ion-input id="imageUser" type="hidden" [value]="urlImage | async"></ion-input>
    
    </ion-list>
    <ion-button type="submit" [disabled]="!formRegister.valid"  shape="round" expand="full" (click)="saveTodo()">
        <ion-icon name="send"></ion-icon>
        Subir evento
      </ion-button>
    </form>
 
    

</ion-content>
