
//AVATAR

.profile-pic {
	width: 100px;
  height: 100px;
  border-radius: 100%;
}

.filebtn {
	opacity: 0;
	position: absolute;
	top: -100em;
	left: -100em;
}

// Perfil

.row_perfil {
  // background: rgb(229%, 36%, 33%);
  margin-top: 20px;
}

.avatar {
  border-radius: 100px;
  width: 100px;
  height: 100px;
  float: right;
}

.div_section {
  margin-top: 50px;
}



.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}






// Historial de eventos
#images {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	max-width: 100%;
	width: 606px;
}



// El * es una orden general
  /*  *{
        font-family: 'Raleway', sans-serif;
        color : #FFF;   
      }
  */
 
 
//  @media (max-width: 767px) {
//      .login_box{
//          background:rgb(229%, 36%, 33%); /* Old browsers */
//          /* IE9 SVG, needs conditional override of 'filter' to 'none' */
//          background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjUlIiBzdG9wLWNvbG9yPSIjZjMyZDI3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTklIiBzdG9wLWNvbG9yPSIjZmY2YjQ1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
//          background: rgb(229%, 36%, 33%);
        
//          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f32d27', endColorstr='#ff6b45',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
         
//          width:105%;
//          height:60%;
//          position:absolute;
//          top:0%;
//          left:0%;
         
//          -webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.54);
//          -moz-box-shadow:    0px 0px 8px 0px rgba(50, 50, 50, 0.54);
//           box-shadow:         0px 0px 8px 0px rgba(50, 50, 50, 0.54);
//      }
//  }

 
 .label {
     color: #EB4F26;
     font-size: 18px;
     font-weight: 500;
 }
 
 .form-control:focus{
     border-radius: 0px;
     border-bottom: 1px solid #FC563B;
     margin-bottom: 10px;
     outline: none;
     -webkit-box-shadow: none !important;
     -moz-box-shadow: none !important;
     box-shadow: none !important;
 }
 .btn-orange{
     background-color: rgb(229%, 36%, 33%);
     border-radius: 0px;
     margin: 5px;
     padding: 5px;
     width: 150px;
     font-size: 20px;
     font-weight: inherit;
 }
 
 /*.btn-orange:hover {
     background-color: #F22F26;
     border-radius: 0px;
     margin: 5px;
     padding: 5px;
     width: 150px;
     font-size: 20px;
     font-weight: inherit;
     color:#FFF !important;
 }*/
 
 /*.line{
     border-bottom : 0px solid #F32D27;
 }*/
 
 
 .outter{
     padding: 0px;
     border: 1px solid rgba(255, 255, 255, 0.29);
     border-radius: 50%;
     width: 150px;
     height: 150px;
 }

/*.headerDesign {
  transition: all 0.6s ease;
  display:inline-flex;
  width:135%;
  height:100px;   
  background-color: rgb(229%, 36%, 33%);
  border-radius: 5px;
  h4{
    width:100%;
  } 
}

*/




//Boton de agregar evento

.boton_add_event{
  
  border-radius: 30px;
  border: 2px solid #000000;
  box-shadow: 1px 8px 11px rgba(131, 131, 131, 0.25), 0 8px 8px rgba(124, 124, 124, 0.22);
}



//Div Nombre Nivel de Categoria

.divNivelCategoria{
  margin-top: 28rem;
  margin-bottom: 1rem;
  padding-bottom: 0%; 
}

.h2NivelCategoria{
  color: rgb(0, 0, 0); 
  font-weight: bold;
  margin-inline-start: 2px;
}

//Card Categorias Niveles

.grid-full ion-col {
  flex: 5 0 50%;
  max-width: 100%;
  padding: 3px 5px;
}
.cardNiveles {
  width: 90%;
  margin: 0 0 0 0px;
  padding: 0px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  border-radius: 7px;
  background-color:  rgb(229%, 36%, 33%);
  box-shadow: 1px 8px 11px rgba(131, 131, 131, 0.25), 0 8px 8px rgba(124, 124, 124, 0.22);
}

.img_icono{
  border: 2px solid grey;
  border-radius: 800px;
  overflow: hidden;
  width: 70px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  
}

.div_imagen{
  margin-left: auto;
  margin-right: auto;
  display: block;
}


.colortitulo{
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: bold;
}

.colortituloHistorial{
  color: rgb(0, 0, 0);
  text-align: center;
  font-weight: bold;
}


.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  .card {
    display: inline-block;
    width: 120px;
    text-align: center;
    border-style:solid;
    border:60px;
    border-radius:30px;
    
  }
}

.cardcat{
  width: 70px;
}

.progress{
  border: 4px inset rgb(107, 194, 90);
  background-color:rgb(2, 39, 250);
  border-radius : 20px ;
  width: 130px;
  margin-top: 5px;
  margin-inline-start: 45px;
}

.img{
  width: 60px;
  height: 60px;
  border-radius:150px;
  margin-inline-start: 27px;
  margin-block-end: 5px;
  
}

.boton{
  border-radius:5px;
}

.welcome-card{
  border-radius:20px;
  background-color: rgb(255, 254, 254);
  padding-top: 0%;
}

//Eventos Asistidos

.divHistorialEvento{
  padding-bottom: 0rem;
  margin-bottom: 0rem;
  margin-top: 100px;
}

.h2HistorialEvento{
  color: rgb(0, 0, 0); 
  font-weight: bold;
  margin-inline-start: 2px;
}

.event_asist{
  border-radius: 50px
}

.slidecard{
  padding-top: 0rem;
  margin-top: 0rem;
}

ion-slide {
  height: 100vh;
  flex-direction: column;
  
}

ion-img {
  max-width: 120vw;
  max-height: 100vh;
  overflow: hidden;
}


//Scroll

#outer_wrapper {  
  overflow: auto;  
  width:120%;
  margin-top: 2rem;
}
#outer_wrapper #inner_wrapper {
  width:6000px; /* If you have more elements, increase the width accordingly */
}
#outer_wrapper #inner_wrapper div.box { /* Define the properties of inner block */
  width: 250px;
  height:300px;
  float: left;
  margin: 0 1px 0 0;
  
}