<ion-header no-border>

  <ion-toolbar color="primary">
    <ion-title color="light" text-center>Perfil</ion-title>

    <ion-buttons slot="start">
      <ion-button (click)="calendarButtonClicked()">
        <ion-icon slot="icon-only" name="calendar" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <!--<ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>-->
      
      <ion-menu-button menu="primerMenu">

      </ion-menu-button>

    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">


  <!--Pagina-->

  

  <ion-row class="row_perfil">
    <div class="container" id="div_perfil">
        <div class="col-md-12 col-xs-12" align="center">

          <input type="file" #fileBtn class="filebtn" (change)="uploadPic($event)" />

            <!-- <ion-img class="profile-pic" (click)="updateProfilePic()"
              src="https://ucarecdn.com/{{ profilePic }}/-/scale_crop/150x150/center/"></ion-img> -->

              <ion-avatar class="avatar" >
                  <img  (click)="updateProfilePic()" 
                  src="https://ucarecdn.com/{{ profilePic }}/-/scale_crop/150x150/center/" 
                  
                  alt="...">
              </ion-avatar>

             <div>
               <h3>{{username}}</h3>
               <p>{{email}}</p>
             </div>
        </div>
    </div>
  </ion-row>


    <!---->


    <div class="div_section">
      <ion-segment  (ionChange)="segmentChanged($event)"
                    color="primary">

        <ion-segment-button mode="md" value="todos">
          <ion-icon name="ios-albums"></ion-icon>
        </ion-segment-button>

        <ion-segment-button mode="md" value="DC Comics">
          <ion-icon name="ios-star"></ion-icon>
        </ion-segment-button>

        <ion-segment-button mode="md" value="Marvel Comics">
          <ion-icon name="ios-heart"></ion-icon>
        </ion-segment-button>

      </ion-segment>
    </div>

    <!-- <div class="divNivelCategoria">
      <h2 class="h2NivelCategoria">Nivel en Categorias</h2>
    </div> -->



    <!--Niveles en cada Categoria-->



    <!-- <div id="outer_wrapper">
      <div id="inner_wrapper">
        <div class="box">
          <ion-card class="cardNiveles">
            <h6 class="colortitulo">Festivales</h6>
            <a href=""><img class="img_icono" src="../../assets/img/icono_beer.png" /></a>
            <div class="progress">
            </div>
            <h6 class="colortitulo">Nivel 1</h6>
          </ion-card>
        </div>
        <div class="box">
          <ion-card class="cardNiveles">
            <h6 class="colortitulo">Educacion</h6>
            <a href=""><img class="img_icono" src="../../assets/img/icono_libro.jpg" /></a>
            <div class="progress">
            </div>
            <h6 class="colortitulo">Nivel 1</h6>
          </ion-card>
        </div>
        <div class="box">
          <ion-card class="cardNiveles">
            <h6 class="colortitulo">Conciertos</h6>
            <a href=""><img class="img_icono" src="../../assets/img/icono_ticket.png" /></a>
            <div class="progress">
            </div>
            <h6 class="colortitulo">Nivel 1</h6>
          </ion-card>
        </div>
        <div class="box">
          <ion-card class="cardNiveles">
            <h6 class="colortitulo">Gastronomia</h6>
            <a href=""><img class="img_icono" src="../../assets/img/icono_gastronomia.png" /></a>
            <div class="progress">
            </div>
            <h6 class="colortitulo">Nivel 1</h6>
          </ion-card>
        </div>
        <div class="box">
          <ion-card class="cardNiveles">
            <h6 class="colortitulo">Negocios</h6>
            <a href=""><img class="img_icono" src="../../assets/img/icono_emprendimiento.png" /></a>
            <div class="progress">
            </div>
            <h6 class="colortitulo">Nivel 1</h6>
          </ion-card>
        </div>
        <div class="box">
          <ion-card class="cardNiveles">
            <h6 class="colortitulo">Arte</h6>
            <a href=""><img class="img_icono" src="../../assets/img/icono_arte.png" /></a>
            <div class="progress">
            </div>
            <h6 class="colortitulo">Nivel 1</h6>
          </ion-card>
        </div>
        <div class="box">
          <ion-card class="cardNiveles">
            <h6 class="colortitulo">Cultura</h6>
            <a href=""><img class="img_icono" src="../../assets/img/icono_cultura.png" /></a>
            <div class="progress">
            </div>
            <h6 class="colortitulo">Nivel 1</h6>
          </ion-card>
        </div>
        <div class="box">
          <ion-card class="cardNiveles">
            <h6 class="colortitulo">Fiesta</h6>
            <a href=""><img class="img_icono" src="../../assets/img/icono_fiesta.png" /></a>
            <div class="progress">
            </div>
            <h6 class="colortitulo">Nivel 1</h6>
          </ion-card>
        </div>
        <div class="box">
          <ion-card class="cardNiveles">
            <h6 class="colortitulo">Deporte</h6>
            <a href=""><img class="img_icono" src="../../assets/img/icono_deporte.jpg" /></a>
            <div class="progress">
            </div>
            <h6 class="colortitulo">Nivel 1</h6>
          </ion-card>
        </div>
        <div class="box">
          <ion-card class="cardNiveles">
            <h6 class="colortitulo">Tecnologia</h6>
            <a href=""><img class="img_icono" src="../../assets/img/icono_tecnologia.jpg" /></a>
            <div class="progress">
            </div>
            <h6 class="colortitulo">Nivel 1</h6>
          </ion-card>
        </div>
      </div>
    </div> -->

  <!-- <a class="divHistorialEvento">
    <h2><b class="h2HistorialEvento">Historial de Eventos</b></h2>
  </a> -->

  
<!--Card de Historial de Eventos Asistidos-->

  <!-- <div id="images">
      <div class="image" *ngFor="let post of posts">
        <img (click)="goTo(post)" class="main-image" src="https://ucarecdn.com/{{ post }}/-/scale_crop/200x200/center/" />
      </div>
  </div> -->

  <!-- <ion-grid fixed class="animated fadeIn fast">
    
      <ion-row>
  
        <ion-col  size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12"
                  *ngFor="let post of posts">
            <ion-card>
                  <img  src="https://ucarecdn.com/{{ post }}/-/scale_crop/200x200/center/" 
                        *ngIf="post.urlImage != 'N/A'" 
                        [routerLink]="['/', 'details-events', post.id]"
                        class="responsive" 
                        alt="Imagen de Evento"
                        (click)="goTo(post)">
                <div> 
                <ion-card-header>
                  <div class="Mes"><h6>{{post.date | date: 'MMM'}}</h6>
                  </div>
                  <div class="Fecha"><h6>{{post.date | date: 'd'}}</h6>
                  </div>
                  <ion-card-title class="titulos_cards" align="center">{{post.event_name}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <h6 class="titulos_cards"  align="center">{{post.ubication}}</h6>
                    <h6 class="titulos_cards"  align="center">Por: {{post.manager_name}}</h6>
                </ion-card-content>
                </div>
            
                <ion-fab vertical="bottom" horizontal="end">
                    <ion-fab-button>
                      <ion-icon name="heart"></ion-icon>
                    </ion-fab-button>
                </ion-fab>
              </ion-card>
        </ion-col>
  
      </ion-row>
  
    </ion-grid> -->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button class="boton_add_event" routerLink="/add-event">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
  </ion-fab>
  
</ion-content>