.input{
  --background: #222428;

}

//Div Profile contiene avatar y nombre de usuario


.headerDesign {
  transition: all 0.6s ease;
  display:inline-flex;
  width:135%;
  height:100px;   
  background-color: rgb(229%, 36%, 33%);
  border-radius: 5px;
  h4{
    width:100%;
  } 
}


//img avatar
.img_avatar{
  width: 120px;
  height: 120px;
  margin: left;
  filter: drop-shadow(5px 5px 8px rgb(121, 120, 120));
}

//Avatar
.profile{
  position: absolute;
  height:120px;
  width:120px;
  left: 50%;
  top: 40px;
  z-index: 1001;
  transform: translateX(-50%);
  box-shadow: 5px 5px 25px #222 inset;
}

//Div Nombre de Usuario
.divNombreUsuario{
  margin-top: 6rem;
  margin-left: 6rem;
}


//Label h2 Nombre de Usuario
.h2NombreUsuario{
  color: #2D354A;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

//Div de Puntacion y Eventos
.divNumProfile{
  margin-right: auto;
  display: block;
  margin-top: 0.3rem;
  margin-left: 4.3rem;
}

//label de Puntacion
.Punta_Event{

  color: rgb(0, 0, 0);
  font-weight: bold;
  margin-inline-start: 11px;
  font-size: 0.50cm;
  
}

.Puntacion{

  color: rgb(0, 0, 0); 
  font-weight: bold;
  margin-inline-start: 11px;
  
  
}

.divpunta{
  align-content: flex-end;
  float:left;
  margin-left:4px;

}

.Eventos{
   
  color: rgb(0, 0, 0); 
  font-weight: bold; 

}

//Card Categorias Niveles

.grid-full ion-col {
  flex: 5 0 50%;
  max-width: 100%;
  padding: 3px 5px;
}
.cardNiveles {
  margin: 0 0 0 0px;
  padding: 0px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  border-radius: 7px;
  background-color: rgb(248, 245, 245);
  -webkit-box-shadow: -12px 13px 13px 2px rgba(237,236,230,1);
  -moz-box-shadow: -12px 13px 13px 2px rgba(237,236,230,1);
  box-shadow: -12px 13px 13px 2px rgba(237,236,230,1);
}

.img_icono{
  border: 2px solid grey;
  border-radius: 800px;
  overflow: hidden;
  width: 70px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  
}

.div_imagen{
  margin-left: auto;
  margin-right: auto;
  display: block;
}


.colortitulo{
  color: rgb(2, 2, 2);
  text-align: center;
}



.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  .card {
    display: inline-block;
    width: 120px;
    text-align: center;
    border-style:solid;
    border:60px;
    border-radius:30px;
    
  }
}

.cardcat{
  width: 70px;
}

.progress{
  border: 4px inset rgb(107, 194, 90);
  background-color:rgb(2, 39, 250);
  border-radius : 20px ;
  width: 120px;
  margin-right:auto;
  margin-top: 5px;
  margin-inline-start: 19.5px;
}

.img{
  width: 60px;
  height: 60px;
  border-radius:150px;
  margin-inline-start: 27px;
  margin-block-end: 5px;
  
}

.boton{
  border-radius:5px;
}

.welcome-card{
  border-radius:20px;
  background-color: rgb(255, 254, 254);
}

//Eventos Asistidos

.h2HistorialEvento{
  color: rgb(0, 0, 0); 
  font-weight: bold;
  margin-inline-start: 11px;
  margin-top: 40px;
}

.event_asist{
  border-radius: 50px
}



ion-slide {
  height: 100vh;
  flex-direction: column;
}

ion-img {
  max-width: 120vw;
  max-height: 100vh;
  overflow: hidden;
}
