<ion-header>
  <ion-toolbar color="ion-app-bar-dark-theme">
    <ion-title text center  color="light">
      Búsqueda
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="card-background-page" color="dark">

  <ion-searchbar color="light"></ion-searchbar>

  <h2 class="titulo" color="white">Categorias</h2>

  <div cards>
    <div class="grid-full">
      <ion-row>
        <ion-col>
          <ion-card class="card">
            <img src="../../assets/img/fiestas.jpg"/>
            <div class="card-title">Fiestas</div>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card class="card">
            <img src="../../assets/img/conciertos.jpg"/>
            <div class="card-title">Conciertos</div>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card class="card">
            <img src="../../assets/img/gastronomia.jpg"/>
            <div class="card-title">Gastronomia</div>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card class="card">
            <img src="../../assets/img/fiestas.jpg"/>
            <div class="card-title">Festivales</div>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card class="card">
            <img src="../../assets/img/cultura.jpg"/>
            <div class="card-title">Cultura</div>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card class="card">
            <img src="../../assets/img/educacion.jpg"/>
            <div class="card-title">Educacion</div>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card class="card">
            <img src="../../assets/img/empresarial.jpg\"/>
            <div class="card-title">Empresarial</div>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card class="card">
            <img src="../../assets/img/deportes.jpg"/>
            <div class="card-title">Deportes</div>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card class="card">
            <img src="../../assets/img/arte.jpg"/>
            <div class="card-title">Arte</div>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card class="card">
            <img src="../../assets/img/promociones.jpg"/>
            <div class="card-title">Promociones</div>
          </ion-card>
        </ion-col>

      </ion-row>
    </div>
  </div>
</ion-content>
