<ion-header >
  <ion-toolbar color="primary">
    <ion-title color="light" text-center class="title">
      Lifevent
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="dark">


  <a href="" >

  <ion-card class="cardHome" *ngFor="let todos of todos" >
    <img  src="{{todos.urlImage}}">
    <div class="divCardDate">
      {{todos.date}}
    </div>
    <div class="divCardHome">
    <ion-card-header>
      <ion-card-subtitle class="colorsubtitulo">{{todos.manager_name}}</ion-card-subtitle>
      <ion-card-title class="colortitulo">{{todos.event_name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="colortitulo">{{todos.description}}</p>
    </ion-card-content>
    </div>
  </ion-card>
  </a>
  
</ion-content>
