<ion-header >
  <ion-toolbar color="primary">
    <ion-title color="light" text-center class="title">
      Lifevent
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="dark">


  <a href="" >
  <ion-card class="cardHome" *ngFor="let todos of todos" >
    <img  src="{{todos.urlImage}}">
    <div class="divCardHome">
    <ion-card-header>
      <ion-card-subtitle class="colorsubtitulo">{{todos.manager_name}}</ion-card-subtitle>
      <ion-card-title class="colortitulo">{{todos.event_name}}</ion-card-title>
      <h6>Día: {{todos.date}}</h6>
      <h6>Hora: {{todos.hour}}</h6>
      <h6>Ubicación: {{todos.ubication}}</h6>
      <h6>Costo: ${{todos.value}}</h6>    
    </ion-card-header>
    <ion-card-content>
        <ion-row no-padding>
            <ion-col text-right>
              <ion-button size="default" fill="clear" color="primary">
                  <ion-icon name="heart"></ion-icon>
                Favorite
              </ion-button>
            </ion-col>
            <ion-col text-right>
              <ion-button size="default" fill="clear" color="primary">
                <ion-icon  name='share-alt'></ion-icon>
                Share
              </ion-button>
            </ion-col>
        </ion-row>  
    </ion-card-content>
    </div>
  </ion-card>
  </a>
  
</ion-content>
