<ion-header >
  <ion-toolbar color="ion-status-bar-dark-theme">
    <ion-title color="light" text-center class="title">
      Lifevent
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="dark">
  <a href="" >
  <ion-card class="welcome-card">
    <img  src="../../assets/img/foto_prueba.jpg"/>
    <ion-card-header>
      <ion-card-subtitle class="colortitulo">Josue Vargas</ion-card-subtitle>
      <ion-card-title class="colortitulo">Proyecto X</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="colortitulo">Now that your app has been created, you'll want to start building out features and components.</p>
    </ion-card-content>
  </ion-card>
  </a>
  
  <a href="" >
  <ion-card class="welcome-card">
    <img  src="../../assets/img/foto_prueba.jpg"/>
    <ion-card-header>
      <ion-card-subtitle class="colortitulo">Josue Vargas</ion-card-subtitle>
      <ion-card-title class="colortitulo">Proyecto X</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="colortitulo">Now that your app has been created, you'll want to start building out features and components.</p>
    </ion-card-content>
  </ion-card>
  </a>
</ion-content>
