  ion-title{
  font-weight: bold;
  
  }

  .divCardHome{

  }

  .divCardDate{
    margin-left: 10px;
    
  }

  .cardHome{
    border-radius:20px;
    box-shadow: 1px 8px 11px rgba(131, 131, 131, 0.25), 0 8px 8px rgba(124, 124, 124, 0.22);
  }

  .colorsubtitulo{
    text-align: center;
  }

  .colortitulo{
    color: rgb(0, 0, 0);
    text-align: center;
  }

  .costo{
    color: rgb(0, 0, 0);
    text-align: right;
  }

  .Fecha{
    position:absolute;
    color: black;
  }

  .Hour{
    position: relative;
    text-align: right;
    color: black; 
    font-size: 10px;
  }
