<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="light" text-center >
      Ranking
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="card-background-page" color="dark">

  
    <ion-card class="cardRankingUser">
    
    <div class="cardRankingPosition"><p>2nd</p></div>  
    <div class="numRankingAvatar"><ion-avatar class="avatarUser">
        <img src="../../assets/img/IMG-20160313-WA005.jpg"></ion-avatar></div>
    <div class="numRankingPuntosUser"><p>350</p></div> 
      
      
    </ion-card>

    <ion-card class="cardRanking">
      <div class="numRanking"><p>1</p></div>  
      <div class="numRanking"><ion-avatar class="avatar">
          <img src="../../assets/img/IMG-20160313-WA005.jpg"></ion-avatar></div>
      <div class="numRanking"><p>Roy Moreno</p></div>
      <div class="numRankingPuntos"><p>400</p></div>  
      
    </ion-card>

    <ion-card class="cardRankingUserProfile">
        <div class="numRanking"><p>2</p></div>  
        <div class="numRanking"><ion-avatar class="avatar">
            <img src="../../assets/img/IMG-20160313-WA005.jpg"></ion-avatar></div>
        <div class="numRanking"><p>Josue Vargas</p></div>
        <div class="numRankingPuntos"><p>350</p></div>

    </ion-card>

    <ion-card class="cardRanking">
        <div class="numRanking"><p>2</p></div>  
        <div class="numRanking"><ion-avatar class="avatar">
            <img src="../../assets/img/IMG-20160313-WA005.jpg"></ion-avatar></div>
        <div class="numRanking"><p>Roberth Ochoa</p></div> 
        <div class="numRankingPuntos"><p>310</p></div>
    </ion-card>
    
    <ion-card class="cardRanking">
      <div class="numRanking"><p>3</p></div>
      <div class="numRanking"><ion-avatar class="avatar">
          <img src="../../assets/img/IMG-20160313-WA005.jpg"></ion-avatar></div>
      <div class="numRanking"><p>Xavier Sevicahy</p></div> 
      <div class="numRankingPuntos"><p>210</p></div>
    </ion-card>
    <ion-card class="cardRanking">

    </ion-card>

  
</ion-content>
