<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="light" text-center >
      Ranking
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="card-background-page" color="light">

  
    <ion-card class="cardRankingUser">
    
    <div class="cardRankingPosition"><p>2nd</p></div>  
    <div class="numRankingAvatar"><ion-avatar class="avatarUser">
        <img src="../../assets/img/IMG-20160313-WA005.jpg"></ion-avatar></div>
    <div class="numRankingPuntosUser"><p>350</p></div> 
      
      
    </ion-card>

    <ion-card class="cardRanking">
      <div class="numRanking"><p>1</p></div>  
      <div class="numRanking"><ion-avatar class="avatar">
          <img src="../../assets/img/IMG-20160313-WA005.jpg"></ion-avatar></div>
      <div class="numRanking"><p>Roy Moreno</p></div>
      <div class="numRankingPuntos"><p>400</p></div>  
      
    </ion-card>

    <ion-card class="cardRanking">
        <div class="numRanking"><p>2</p></div>  
        <div class="numRanking"><ion-avatar class="avatar">
            <img src="../../assets/img/IMG-20160313-WA005.jpg"></ion-avatar></div>
        <div class="numRanking"><p>Josue Vargas</p></div>
        <div class="numRankingPuntos"><p>350</p></div>

    </ion-card>

    <ion-card class="cardRanking">
        <div class="numRanking"><p>2</p></div>  
        <div class="numRanking"><ion-avatar class="avatar">
            <img src="../../assets/img/IMG-20160313-WA005.jpg"></ion-avatar></div>
        <div class="numRanking"><p>Roberth Ochoa</p></div> 
        <div class="numRankingPuntos"><p>310</p></div>
    </ion-card>
    
    <ion-card class="cardRanking">
      <div class="numRanking"><p>3</p></div>
      <div class="numRanking"><ion-avatar class="avatar">
          <img src="../../assets/img/IMG-20160313-WA005.jpg"></ion-avatar></div>
      <div class="numRanking"><p>Xavier Sevicahy</p></div> 
      <div class="numRankingPuntos"><p>210</p></div>
    </ion-card>
    
    <ion-card class="cardRanking">
      <div class="numRanking"><p>4</p></div>
      <div class="numRanking"><ion-avatar class="avatar">
          <img src="../../assets/img/IMG-20160313-WA005.jpg"></ion-avatar></div>
      <div class="numRanking"><p>Ivan Vargas</p></div> 
      <div class="numRankingPuntos"><p>140</p></div>
    </ion-card>


    <div id="images" *ngFor="let post of posts">
    <ion-card>
              <ion-img (click)="goTo(post)" src="https://ucarecdn.com/{{ post }}/-/scale_crop/200x200/center/"></ion-img>
          <ion-card-content>
              <h4>{{post.author}}</h4>
              <h4>{{post.event_name}}</h4>
              <h3>{{post.category}}</h3>
              <h3>{{post.manager_name}}</h3>
              <h3>{{post.date_start}}</h3>
          </ion-card-content>
          <ion-item>
            <ion-icon [name]="heartType"></ion-icon>
          </ion-item>
    </ion-card>
    </div>

</ion-content>
